{% extends '_Foundation.jinja2' %}

{% macro createToolCard(_obj, isLast) -%}
    {% if isLast %}
        <div class="card-like-background p-3 card-like-sm">
    {% else %}
        <div class="card-like-background p-3 card-like-sm me-3">
    {% endif %}
        <h1 class="card-like-title-sm">
            {{ _obj.get('name') }}
            <span class="float-end">
                {% if _obj.get('type') == 'Semi-Untethered' %}
                    <a class="flatui2_green type-cursor" href="https://www.theiphonewiki.com/wiki/Semi-untethered_jailbreak" target="_blank">Semi-Untethered</a>
                {% elif _obj.get('type') == 'Semi-Tethered' %}
                    <a class="flatui2_yellow type-cursor" href="https://www.theiphonewiki.com/wiki/Semi-tethered_jailbreak" target="_blank">Semi-Tethered</a>
                {% elif _obj.get('type') == 'Untethered' %}
                    <a class="flatui2_blue type-cursor" href="https://www.theiphonewiki.com/wiki/Untethered_jailbreak" target="_blank">Untethered</a>
                {% elif _obj.get('type') == 'Mixed' %}
                    <a class="flatui2_purple_dark type-cursor" href="#" target="_blank">Mixed</a>
                {% endif %}
            </span>
        </h1>
        <div>
            <img src="/static/img/ios.svg" alt="" height="50" width="50">
            <span class="ms-2">{{ _obj.get('minimum_ios') }} ➞ {{ _obj.get('maximum_ios') }}</span>
        </div>
        <div>
            <img src="/static/img/iphones.svg" alt="" height="40" width="40">
            <span class="ms-3">{{ _obj.get('minimum_pg') }} ➞ {{ _obj.get('maximum_pg') }}</span>
        </div>
        <div class="pt-3 row">
            {% if _obj.notes is not defined %}
                <div class="col d-grid">
                    <a class="btn btn-block btn-outline-primary" href="{{ _obj.get('url') }}" target="_blank">Visit Website</a>
                </div>
            {% else %}
                <div class="col-8 d-grid">
                    <a class="btn btn-block btn-outline-primary" href="{{ _obj.get('url') }}" target="_blank">Visit Website</a>
                </div>
                <div class="col d-grid">
                    <a class="btn btn-block btn-outline-warning float-end" href="#" data-bs-toggle="modal" data-bs-target="#{{ _obj.get('name') }}">⚠️</a>
                </div>
                <!-- Modal -->
                <div class="modal animate__animated animate__zoomIn" id="{{ _obj.get('name') }}" tabindex="-1" aria-labelledby="infoModal" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Additional notes for {{ _obj.get('name') }}</h5>
                            </div>
                            <div class="modal-body">
                                <ul>
                                    {% for note in _obj.notes %}
                                        <li>{{ note }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-outline-danger ms-auto me-auto" data-bs-dismiss="modal">Dismiss</button>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{%- endmacro %}


{% block additionalalert %}
    <div class="container pt-2">
        <a href="#">
            <div class="update-banner fade show" role="alert">
                <strong>Found something wrong or missing?</strong><br>
                Please contact me under <em>me@saadat.dev</em>
            </div>
        </a>
    </div>
{% endblock %}

{% block content %}
    <div class="container pt-2">
        <div class="card-like-background m-1 p-3">
            <h1 class="card-like-title">Welcome</h1>
            <p>
                This service aims to be a reliable source for you to find the appropriate Jailbreak for your iPhone, iPod or iPad.<br>
                Use the button below to find a Jailbreak based on your current device specs (iOS/iPadOS version, device) or feel free to browse the sections below.<br>
                <br>
                This service is free of charge and will remain free, updated and ad-free.
            </p>
            <div class="text-end">
                <a class="btn btn-outline-primary" href="#">Help Me Jailbreak!</a>
            </div>
        </div>
        <div class="accordion pt-4" id="accordionExample">
            <div class="accordion-item card-like-background">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">Legend</button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <div class="card-like-background p-3 col">
                            <h1 class="card-like-title-sm">
                                Tool Name
                                <span class="float-end">Jailbreak Type</span>
                            </h1>
                            <div>
                                <img src="/static/img/ios.svg" alt="" height="50" width="50">
                                <span class="ms-2">Supported iOS Range</span>
                            </div>
                            <div>
                                <img src="/static/img/iphones.svg" alt="" height="40" width="40">
                                <span class="ms-3">Supported Device Range</span>
                            </div>
                            <div class="pt-3 row">
                                <div class="col-8 d-grid">
                                    <a class="btn btn-block btn-outline-primary" href="#">Download Link</a>
                                </div>
                                <div class="col d-grid">
                                    <a class="btn btn-block btn-outline-warning float-end" href="#">⚠️</a>
                                </div>
                            </div>
                        </div>
                        <p class="pt-4">
                            The ⚠️-Button shows additional details <em><strong>if</strong></em> available, such as version exceptions and other regulations.<br>
                            If a tool does not have this, then it "simply works".
                        </p>
                    </div>
                </div>
            </div>
            <div class="accordion-item card-like-background">
                <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Jailbreak Types</button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <ul>
                            <li>
                                <span class="flatui2_blue">Untethered</span><br>
                                The Jailbreak persists <em>even after</em> a reboot.
                            </li>
                            <li>
                                <span class="flatui2_green">Semi-Untethered</span><br>
                                The Jailbreak does <em><strong>not</strong></em> persist after a reboot, but jailbreaking can be done on-device.
                            </li>
                            <li>
                                <span class="flatui2_yellow">Semi-Tethered</span><br>
                                The Jailbreak needs a PC/ Mac to boot into a jailbroken state, <em>however</em> the device can boot/ reboot without a PC/ Mac just fine.
                            </li>
                            <li>
                                <span class="flatui2_red">Tethered</span><br>
                                The Jailbreak requires a PC/ Mac to boot your device in a jailbroken state. Device <em><strong>cannot</strong></em> boot without a PC/ Mac.
                            </li>
                            <li>
                                <span class="flatui2_purple_dark">Mixed</span><br>
                                Utilities such as ipwndfu combine multiple exploits and some of these untether while others don't.<br>
                                For brevity, these utilities are marked as <em>"Mixed"</em>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <h2 class="pb-2 pt-5 m-1">iOS 14 Jailbreaks</h2>
        <div class="pb-2 m-1 row row-cols-1 row-cols-lg-3 justify-content-md-center">
            {% for tool in tools14 %}
                {% if not loop.last %}
                    {{ createToolCard(tool, false) }}
                {% else %}
                    {{ createToolCard(tool, true) }}
                {% endif %}
            {% endfor %}
        </div>
        <h2 class="pb-2 pt-4 m-1">iOS 13 Jailbreaks</h2>
        <div class="pb-2 m-1 row row-cols-1 row-cols-lg-3 justify-content-md-center">
            {% for tool in tools13 %}
                {% if not loop.last %}
                    {{ createToolCard(tool, false) }}
                {% else %}
                    {{ createToolCard(tool, true) }}
                {% endif %}
            {% endfor %}
        </div>
        <h2 class="pb-2 pt-4 m-1">iOS 12 Jailbreaks</h2>
        <div class="pb-2 m-1 row row-cols-1 row-cols-lg-3 justify-content-md-center">
            {% for tool in tools12 %}
                {% if not loop.last %}
                    {{ createToolCard(tool, false) }}
                {% else %}
                    {{ createToolCard(tool, true) }}
                {% endif %}
            {% endfor %}
        </div>
        <h2 class="pb-2 pt-4 m-1">iOS 11 Jailbreaks</h2>
        <div class="pb-2 m-1 row row-cols-1 row-cols-lg-3 justify-content-md-center">
            {% for tool in tools11 %}
                {% if not loop.last %}
                    {{ createToolCard(tool, false) }}
                {% else %}
                    {{ createToolCard(tool, true) }}
                {% endif %}
            {% endfor %}
        </div>
        <h2 class="pb-2 pt-4 m-1">iOS 10 Jailbreaks</h2>
        <div class="pb-2 m-1 row row-cols-1 row-cols-md-3 justify-content-md-center">
            {% for tool in tools10 %}
                {% if not loop.last %}
                    {{ createToolCard(tool, false) }}
                {% else %}
                    {{ createToolCard(tool, true) }}
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}